.container {
    display: flex;
    align-items: center;
    width: fit-content;
}

.ul {
    height: 19.2px;
    margin-block: 0.2rem;
    list-style-type: none;
    padding-left: 0;
}

.show {
    overflow: visible;
    z-index: 1;
}

.hide {
    overflow: hidden;
}

.arrow {
    cursor: pointer ;
}

.li {
    background-color: grey;
}