.container {
    display: flex;
    align-items: center;
    width: fit-content;
}

.options {
    display: flex;
    flex-direction: column;
    height: 19.2px;
}

.show {
    overflow: visible;
    z-index: 1;
}

.hide {
    overflow: hidden;
}

.arrow {
    cursor: pointer ;
}

.option {
    cursor: pointer;
    background-color: rgb(158, 158, 158);
    padding: 3px;
    color: white;
}