.userInputContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.userInput, .result {
    width: 150px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.userInput {
    padding-bottom: 70px;
}